doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Add Product
    link(rel="stylesheet", href="/styles/main.css")
  body
    header
      nav
        ul
          li
            a(href="/") Home
          li
            a(href="/admin/add-product") Add Product
    main
      h1 Add a New Product
      form(action="/admin/add-product", method="POST")
        div
          label(for="title") Product Title
          input(type="text", name="title", id="title", required)
        button(type="submit") Add Product