doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Shop
    link(rel="stylesheet", href="/styles/main.css")
  body
    header
      nav
        ul
          li
            a(href="/") Home
          li
            a(href="/admin/add-product") Add Product
    main
        h1 Products
        p Welcome to the shop! Here are the products available...
        ul 
            each product in products
                li
                    h2= product.title